<!DOCTYPE html>
<html lang="en">
<body>
    <h2>HTML FORM</h2>
    <form action="/user/add" method="post">
    <label for="name">Name :</label><br>
    <input type="text" name="name" value=""><br>
    <br>
    <label for="email">Email :</label><br>
    <input type="text" name="email" value=""><br>
    <br><br>
    <input type="submit" value="Submit">
    </form>
    
</body>
</html>